@import 'src/styles';

.certificate {
  position: relative;

  @include media-breakpoint-up(sm) {
    padding: 20px 15px;
  }

  img {
    display: block;
  }
}

.caption {
  @include media-breakpoint-up(sm) {
    position: absolute;
    text-align: left;
    inset: 20px 15px;
  }
}

.overlay {
  @include media-breakpoint-up(sm) {
    position: absolute;
    inset: 0;
    background-color: rgba($color-baltic-sea, 60%);
  }
}
