@import 'src/styles';

.navigation {
  display: none;

  @include media-breakpoint-up(xs) {
    position: sticky;
    top: 0;
    z-index: 2;
    display: block;
  }
}

.tabs {
  position: relative;
  overflow: hidden;
}

.tabList {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100vh;

  @include media-breakpoint-up(sm) {
    width: 30%;
  }
}

.tabItem {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;

  &:not(:last-child) {
    border-bottom: 1px solid $color-silver;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 60px;
  }

  @include media-breakpoint-up(md) {
    padding-left: 20vh;
  }
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5vh;
  background-color: $color-text-accent;

  @include media-breakpoint-up(md) {
    width: 3vh;
  }
}

.content {
  position: absolute;
  z-index: 2;
  margin-left: 5%;
  inset: 0 0 0 35%;

  @include media-breakpoint-up(sm) {
    left: 30%;
  }
}

.card {
  position: absolute;
  inset: 0;
  transform: translateX(100%);
}
