@import 'src/styles';

.experienceCardMobile {
  display: block;
  padding: 0 var(--padding-section-right);
}

.wave {
  width: auto;
  height: 6px;

  @include media-breakpoint-up(md) {
    height: 8px;
  }
}

.trackingWide {
  margin-top: 5px;
}

.positions {
  margin-top: 10px;
}

.content {
  margin-top: 15px;
}
