// indent
$ui-step-size: 5px;

// fonts\
$font-family-gilroy: var(--font-gilroy), 'Arial', sans-serif;
$font-family-libre-baskerville: var(--font-baskerville);
$font-family-lato: var(--font-lato), sans-serif;
