// main colors
$color-flamingo: #F5581E;
$color-vermilion: #FF4C0A;
$color-cerulean-blue: #2C4EC5;
$color-cod-gray: #0F0F0F;
$color-baltic-sea: #1C1B20;
$color-muesli: #AF895F;
$color-mirage: #1A2833;
$color-hunter-green: #0C120C;
$color-creole: #210F04;
$color-karry: #FFE5D4;
$color-white: #FFFFFF;
$color-alabaster: #FCFCFC;
$color-silver: #C5C5C5;
$color-gallery: #EAEAEA;
$color-quill-gray: #DADDD8;
$color-ghost: #C9CDD9;
$color-santas-gray: #9C9AA5;

// system name colors
$color-background-main: $color-alabaster;
$color-background-secondary: $color-quill-gray;
$color-text-main: $color-hunter-green;
$color-text-invert: $color-white;
$color-text-accent: $color-flamingo;

// behavior colors
$color-error: #DE414A;

// form colors
$color-form-label: $color-santas-gray;

// scrollbar
$color-scrollbar-background: $color-background-main;
$color-scrollbar-foreground: $color-ghost;
