@import 'src/styles';

.symbolH {
  margin-left: 0.25em;
}

.symbolE1 {
  margin-left: 0.43em;
}

.symbolR {
  margin-left: 0.33em;
}

.symbolE2 {
  margin-left: 0.25em;
}

.symbolExcl {
  margin-left: 0.29em;
}

.circle {
  fill: $color-text-accent;
}
